.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.fehbg
.cache/
.config/Code - OSS/
.config/gtk-3.0/
.config/procps/
.config/chromium/
.config/dconf/
.config/htop
.config/st/
.local/
.histfile
.pki/
.pylint.d/
.python_history
.vimi*
.vim/
.vscode-oss/
.zcompdump
.zshrc.zni
.zshrc~
Codes/
Downloads/
Pictures/
Projects/

